<!-- /snippets/collection-sorting.liquid -->

<div class="action-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" data-view="list" class="change-view">
                    <div class="custom-icon icon-list">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" data-view="grid" class="change-view">
                    <div class="custom-icon icon-grid">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" data-view="full" class="change-view">
                    <div class="custom-icon icon-full-width">
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>