<!-- /snippets/pagination.liquid -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    </div>
  </div>
</div>