<!-- /snippets/small-header.liquid -->

<header class="secondary small">
    <div class="background-image-holder parallax-background overlay" style="background: url('{{ 'secondarybg.jpg' | asset_url }}')" data-stellar-background-ratio="0.8">
    </div>
</header>